<section class="white_board--wrapper">
  <div class="white_board--controls">
    <button mat-mini-fab [color]='selectedButton["line"] ? "primary":""' (click)='setSelection("line");'
      matTooltip="Pen" matTooltipPosition="right">
      <i class="far fa-pen"></i>
    </button>
    <button mat-mini-fab [color]='selectedButton["erase"] ? "primary":""' (click)='setSelection("erase");'
      matTooltip="Eraser" matTooltipPosition="right">
      <i class="far fa-eraser"></i>
    </button>
    <button mat-mini-fab [color]='selectedButton["undo"] ? "primary":""' (click)='undo()' matTooltip="Undo"
      matTooltipPosition="right">
      <i class="far fa-undo"></i>
    </button>
    <button mat-mini-fab [color]='selectedButton["clear"] ? "primary":""' (click)='clearBoard()' matTooltip="Clear"
      matTooltipPosition="right">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
  <div id="container"></div>
</section>
