* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
