@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://pro.fontawesome.com/releases/v5.15.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
